* {
  margin: 0;
  padding: 0;
}


body {
  min-width: 1200px;
  min-height: 800px;
  background-color: #F3EEF7;
  background-image: url(../img/logo-sem-fundo.png);
  background-repeat: no-repeat;
  background-position: center center;

}

nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #46295A;
  width: 100%;
  height: 60px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}


footer {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #46295A;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.pedidos {
  display: flex;
  justify-content: space-around;
}

.pedido-n {
  justify-content: center;
  color: #fff;
  margin-left: 20px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #46295A;
  font-size: 12px;
}

.linha {
  margin-left: 20px;
  width: 300px;
  padding-top: 1px;
  padding-left: 100px;
  background-color: #f9f9f9;
}

.pedido-n-n {
  gap: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 500px;
  color: #fff;
  height: 100px;
  background-color: #46295A;
}

.pedido-n-n img {
  width: 46px;
  height: 46px;
}

.cliente {
  display: flex;
  border-bottom: 1px solid #0000005a;
  margin-left: 20px;
  width: 500px;
  padding-top: 1px;
  background-color: #fff;
  text-align: center;
  justify-content: center;

}



.finaliza input {
  color: #fff;
  background-color: #46295A;
  width: 170px;
  height: 40px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.botao-add {
  background-color: #8037b0;
  cursor: pointer;
  color: #fff;
  border: none;
  height: 29px;
  width: 170px;
  ;
}

.finaliza {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 500px;
  height: 150px;
  padding-top: 1px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: start;
}

.box-1,
.box-2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.box-1 #verde {
  background-color: #6DA64D;
}

.box-2 #vermelho {
  background-color: #FF0000;
}

.container-2 {
  color: #fff;
  margin-left: 20px;
  width: 600px;
  height: 250px;
  background-color: #46295A;
  font-size: 12px;
}

.form-01,
.form-02 {
  margin: 10px;
  display: flex;
}

.box-flex input,
.box-flex-2 input {
  border: 1px solid black;
  height: 29px;
  border-radius: 20px;
  margin-top: 12px;
  border: none;
}

.box-flex label,
.box-flex-2 label {
  font-size: 20px;
}

.box-flex-2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.box-flex-2 input {
  width: 260px;
}

.flex-desc {
  display: flex;
  gap: 20px;
}


.tabela {
  position: absolute;
}

.tabela_pdv {
  margin-top: 5%;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.thPDV,
.tdPDV {
  color: #0a0808;
  border: 1px solid #0a080839;
  padding: 25px;
  text-align: left;
}

.thPDV {
  text-align: start;
  background-color: #ffffff;
  font-size: 20px;
  color: #0a0808be;
}

.modal-mensagem {
  background-color: #46295A;
  height: 22px;
}

.container-modal {
  display: flex;
  flex-direction: column;
}

.container-modal h2 {
  text-align: center;
  margin-bottom: 5px;
}

.modal-mensagem h2 {
  font-size: 17px;
  color: #F3EEF7;
  text-align: center;
  font-weight: 100;
}

.btn-modal {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}

.btn-modal button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.vermelho {
  background-color: #FF0000;
}

.verde {
  background-color: #6DA64D;
}

.button-fechar {
  position: relative;
}