@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  min-height: 800px;
  background-color: #F3EEF7;
  background-image: url(../img/logo-sem-fundo.png);
  background-repeat: no-repeat;
  background-position: center center;

}

nav {
  justify-content: center;
  display: flex;
  flex-direction: flex-start;
  background-color: #46295A;
  width: 100%;
  height: 60px;
  text-align: center;
  justify-content: flex-start;
  gap: 40%;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.seta {
  margin-left: 10px;
}

footer {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #46295A;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.pedidos {
  display: flex;
  justify-content: space-around;
}

.pedido-n {
  justify-content: center;
  color: #fff;
  margin-left: 20px;
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #46295A;
  font-size: 12px;
}

.linha {
  margin-left: 20px;
  width: 300px;
  padding-top: 1px;
  padding-left: 100px;
  background-color: #f9f9f9;
}

.pedido-n-n {
  gap: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 700px;
  color: #fff;
  height: 100px;
  background-color: #46295A;
}

.pedido-n-n img {
  width: 46px;
  height: 46px;
}

.cliente {
  display: flex;
  border-bottom: 1px solid #0000005a;
  margin-left: 20px;
  width: 700px;
  padding-top: 1px;
  background-color: #fff;
  text-align: center;
  justify-content: center;

}



.finaliza input {
  color: #fff;
  background-color: #46295A;
  width: 270px;
  height: 45px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.botao-add {
  background-color: #46295a;
  cursor: pointer;
  color: #fff;
  border: none;
  height: 29px;
  width: 170px;
}

.btn-pdv {
  background-color: #703f91;
}

.botao-add:hover {
  background-color: #5f3d75;
}

.finaliza {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 700px;
  height: 150px;
  padding-top: 1px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: start;
}

.box-1,
.box-2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 110px;
}

.box-1 #verde {
  background-color: #6DA64D;
}

.box-2 #vermelho {
  background-color: #FF0000;
}

.container-2 {
  color: #fff;
  margin-left: 20px;
  width: 600px;
  height: 250px;
  background-color: #46295A;
  font-size: 12px;
}

.form-01,
.form-02 {
  margin: 10px;
  display: flex;
}

.box-flex input,
.box-flex-2 input {
  border: 1px solid black;
  height: 29px;
  padding-left: 5px;
  border-radius: 20px;
  margin-top: 12px;
  border: none;
}

.box-flex label,
.box-flex-2 label {
  font-size: 20px;
}

.kg {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #46295A;
  font-weight: 800;
}

.kg-estoque {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.kg input {
  border: 1px solid #46295A;
  height: 29px;
  padding-left: 10px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;

}

.box-flex-2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.box-flex-2 input {
  width: 260px;
}

.flex-desc {
  display: flex;
  gap: 20px;
}


.tabela {
  position: absolute;
}

.tabela_pdv,
.tabela_resumo {
  margin-top: 5%;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.tabela_resumo th {
  border: none;
  padding: 15px;
  font-size: 20px;
}

.tabela_resumo td {
  border: none;
  font-size: 20px;
}

.box {
  width: 250px;
  height: 130px;
  background-color: #46295A;
  margin: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

.flex {
  align-items: center;
  display: flex;
  gap: 10%;
}

.flex_pagamento {
  display: flex;
  gap: 150px;
}

.input-pagamento {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.input-pagamento input {
  height: 40px;
  width: 400px;
  border: 1px solid #46295A;
}

.input-pagamento label {
  color: #46295A;
  font-size: 40px;
  margin-top: 50px;
}

.btn-cancelar-pagamento,
.btn-finalizar {
  margin-top: 25px;
  cursor: pointer;
  width: 192px;
  height: 45px;
  color: #fff;
  font-size: 23px;
  background-color: #46295A;
  ;
}

.flex-btn {
  display: flex;
}

.box img {
  height: 50px;
}

.carta img {
  height: 100px;
}


.container-box {
  display: flex;
  cursor: pointer;
}

.thPDV,
.tdPDV {
  color: #0a0808;
  border: 1px solid #0a080839;
  padding: 25px;
  text-align: center;
}

.thPDV {
  text-align: center;
  background-color: #ffffff;
  font-size: 20px;
  color: #0a0808be;
}

.tabela_pagamento {
  border: 1px solid #46295A;
  overflow-y: auto;
  margin: 2%;
  max-height: 30%;
}

.tabela_pag {
  margin: 0;
}

.modal-mensagem {
  background-color: #46295A;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 30%;

}

.container-modal {
  display: flex;
  flex-direction: column;


}

.container-modal h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 55px;

}

.btn-pagamento {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.modal-mensagem h2 {
  font-size: 25px;
  color: #F3EEF7;
  text-align: center;
  font-weight: 500;
  margin-left: 20px;
}

.btn-modal {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}

.btn-modal button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.container-modal-produto {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 30px;


}

.container-modal h2 {
  color: #46295a;
  font-size: 23px;
  margin-top: 5px;
}

.container-modal-produto h2 {
  font-size: 28px;
  color: #46295A;
  font-weight: 700;
  text-align: center;
}

.container-modal-produto input {
  width: 500px;
  height: 25px;
  border-bottom: 2px solid #46295A;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  outline-color: #46295A;
  ;
}

.vermelho {
  background-color: #FF0000;
}

.verde {
  background-color: #6DA64D;
}

.button-fechar {
  position: relative;
}

ul.produtos-pesquisa {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  background-color: #3d0e5c;
  color: #fff;
  width: 50%;
  margin-left: 30%;

}

ul.produtos-pesquisa li {
  cursor: pointer;
  padding: 10px 50px;

}

ul.produtos-pesquisa li:hover {
  background-color: #46295A;
  color: #fff;
}

.flex-dados-1,
.flex-dados-2 {
  margin: 25px;
}

.acai-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}

.acai-flex,
.flex-dados-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}

.acai-flex p,
.flex-dados-1 p {
  font-size: 40px;

}

.acai-flex .endereco {
  font-size: 15px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 40px;
  font-weight: 400;

}

.rodape {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

input:disabled {
  background-color: #f0f0f0;
}

.flex-vendas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-vendas {
  display: flex;
  gap: 0;
}

.flex-config {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pdvFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}